.category1-page1-card9-container{
    display: grid;
    grid-template-columns: 13% 13% 13.5% 13.5% 13% 13%;
    grid-gap: 20px 4%;
}

@media only screen and (max-width: 600px) {
  .category1-page1-card9-container{
    grid-template-columns: 48% 48%;
}
} 
  @media only screen and (min-width: 600px) {
    .category1-page1-card9-container{
      grid-template-columns: 27% auto 27%;
  }
  }
  @media only screen and (min-width: 768px) {
    .category1-page1-card9-container{
      grid-template-columns: 22% 22% 22% 22% ;
  }
  }
  
  @media only screen and (min-width: 992px) {
    .category1-page1-card9-container{
      grid-template-columns: 13% 13% 13.5% 13.5% 13% 13%;
  }
  
  }
  @media only screen and (min-width: 1200px) {
    .catalog1-page1-card8-container {
      padding: 0 12%;
    }
  }
  