html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: 0.3s linear;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 186, 0.671);
  border-radius: 10px;
}
::selection {
  color: #fff;
  background: #f2480c;
}
.container {
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
p,
li,
ul {
  font-weight: 400;
}
